.navContainer {
  display: flex;
  position: sticky;
  height: 5rem;
  top: 0;
  justify-content: space-between;
  background: #fff;
  padding: 0 5vw 0 5vw;
  z-index: 100;
  border-bottom: 1px solid rgb(212, 212, 212);

  .logoStyle {
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      width: 80%;
      img {
        width: 100%;
      }
    }
  }
}

.myWallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.4rem 1.5rem 1.4rem;
  border-bottom: 1px solid #cfcfcf;

  .wallet {
    display: flex;
    align-items: center;
    & > div {
      margin: 0 0 0 10px;
      font-weight: 700;
    }
  }
}

.balanceTable {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0 0;
}

.myBalance {
  width: 350px;
  height: 150px;
  overflow: hidden;
  border: 2px solid #e5e8eb;
  border-radius: 10px;

  .Btable {
    height: 5.7rem;
    display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .balance {
    margin: 6px 0 0 0;
    :nth-child(1) {
      font-weight: 700;
      font-size: 14px;
      color: #b8b8b8;
      text-align: center;
    }
    :nth-child(2) {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 1.3rem;

      > div {
        margin: 0 0 0 10px;
      }

      img {
        width: 18px;
        height: 17px;
      }
    }
  }
}

.charge {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
  background: #2081e2;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: #2e96fd;
  }
}

.noLogined {
  font-weight: 400;
  font-size: 16px;
  margin: 0.5rem 0 1.5rem 1.4rem;
}

.walletExplain {
  margin: 0.8rem 1.4rem 1.5rem 1.4rem;
  font-weight: 400;
  font-size: 16px;
  color: #b8b8b8;
}

.connectWallet {
  display: flex;
  // width: 97%;
  height: 50px;
  color: #fff;
  font-weight: 700;
  border-radius: 0.6rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background: #FFC42E;
  margin: 1rem 0.5rem 0.7rem 0.5rem;
  transition: all 0.2s;

  &:hover {
    font-size: 1.05rem;
  }
}

@media screen and (min-width: 740px) {
  .hamburger {
    display: none;
    overflow: hidden;
  }

  .contents {
    :nth-child(1) {
      cursor: pointer;
    }
    :nth-child(2) {
      cursor: pointer;
    }
    :nth-child(3) {
      cursor: pointer;
    }
    :nth-child(4) {
      cursor: pointer;
    }

    a {
      transition: all 0.2s;
      &:hover {
        text-decoration: none;
        margin-bottom: 5px;
        font-size: 1.05rem;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .hamburger {
    display: flex;
    overflow: hidden;
  }
  
  .contents {
    :nth-child(1) {
      display: none;
    }
    :nth-child(2) {
      display: none;
    }
    :nth-child(3) {
      display: none;
    }
    :nth-child(4) {
      display: none;
    }
  }
}
