.MPBody {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 5%;

  .MPContainer {
  
    .MPTitle {
      font-weight: 700;
      font-size: 3rem;
      line-height: 3.5rem;
      margin: 0%;
    }
  
    .MPDetail {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  
  .marketNav {
    position: relative;
    width: 6.5rem;
    height: 3rem;
    // right: 100%;
  
    background-color: white;
    border: 2px solid #E5E8EB;
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
  }
}
