.recentColl {
  width: 18%;
  margin: 0.5rem;
}

.RCTitle {
  margin-top: 10%;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
}

.RCDetail {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}