.mainBody {
  // display: flex;
  // justify-content: center;
  // text-align: center;
  width: auto;
  margin-bottom: 3%;

  .welcome {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .mainBanner {
    text-align: center;
    
    .banner {
      // position: absolute;
      width: 100%;
      margin-top: 1%;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  .guide {
    // position: absolute;
    width: 100%;
    margin-top: 5%;
    
    &:hover {
      cursor: pointer;
    }
  }
}