.CollBody {
  width: 75%;
  margin: 2% 12.5% 3% 12.5%;

  .toggleCounterDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;

    .collCounter {
      font-weight: 700;
    }
  }

  .JAVS {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: relative;
    // justify-items: start;
    grid-gap: 2%;
    width: auto;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 10%;

    .collCard {
      position: relative;
      max-width: 181px;
      &:hover {
        transform: scale(1.1);
        transition: 0.2s;
        cursor: pointer;
      }

      .skeletonContainer {
        width: 100%;
        height: 12vw;

        $base-color: #ddd;
        $shine-color: #e8e8e8;
        $animation-duration: 2s;
        $skeleton-offset: 52 + 16;

        .skeleton {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: #ccc;
          // border: 4px solid #7eff2e;
          border-radius: 12px;

          background-image: linear-gradient(
            90deg,
            $base-color 0px,
            $shine-color 40px,
            $base-color 80px
          );
          background-size: 600px;
          animation: shine-skeleton $animation-duration infinite linear;
        }

        @keyframes shine-skeleton {
          0% {
            background-position: -100px + $skeleton-offset;
          }
          40%,
          100% {
            background-position: 140px + $skeleton-offset;
          }
        }
      }

      .loadJAV {
        display: none;
      }

      .JAVContainer {
        position: relative;
        width: 100%;
        // height: 8.5rem;

        .JAVImg {
          width: 100%;
          max-width: 181px;
          border-radius: 12px;
          position: relative;
          // filter: blur(2px);
          // opacity: 80%;
        }

        .FD {
          border: 4px solid #7eff2e;
          border-radius: 12px;
        }

        .lockCard {
          position: relative;

          .JAVImgFalse {
            width: 100%;
            border-radius: 12px;
            position: relative;
            filter: blur(2px);
            opacity: 70%;
          }

          .lockImg {
            position: absolute;
            z-index: 1;
            width: 80%;
            top: 25%;
            left: 10%;
            border-radius: 12px;
          }
        }

        .javId {
          display: block;
          padding: 0 0.3rem 0 0.3rem;
          position: absolute;
          text-align: center;
          top: 0%;
          right: 10%;
          margin-top: 0%;
          width: auto;
          min-width: 16%;
          color: #ffffff;
          background-color: #ffc42e;
          border-radius: 0 0 6px 6px;
          z-index: 2;
          font-size: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .JAVS {
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      position: relative;
      // justify-items: start;
      grid-gap: 2%;
      width: auto;
      height: 100%;
      margin-top: 3%;
      margin-bottom: 26%;

      .collCard {
        position: relative;
        max-width: 181px;
        &:hover {
          transform: scale(1.1);
          transition: 0.2s;
          cursor: pointer;
        }

        .skeletonContainer {
          width: 100%;
          height: 22vw;

          $base-color: #ddd;
          $shine-color: #e8e8e8;
          $animation-duration: 2s;
          $skeleton-offset: 52 + 16;

          .skeleton {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #ccc;
            // border: 4px solid #7eff2e;
            border-radius: 12px;

            background-image: linear-gradient(
              90deg,
              $base-color 0px,
              $shine-color 40px,
              $base-color 80px
            );
            background-size: 600px;
            animation: shine-skeleton $animation-duration infinite linear;
          }

          @keyframes shine-skeleton {
            0% {
              background-position: -100px + $skeleton-offset;
            }
            40%,
            100% {
              background-position: 140px + $skeleton-offset;
            }
          }
        }

        .loadJAV {
          display: none;
        }

        .JAVContainer {
          position: relative;
          width: 100%;
          // height: 8.5rem;

          .JAVImg {
            width: 100%;
            max-width: 181px;
            border-radius: 12px;
            position: relative;
            // filter: blur(2px);
            // opacity: 80%;
          }

          .FD {
            border: 4px solid #7eff2e;
            border-radius: 12px;
          }

          .lockCard {
            position: relative;

            .JAVImgFalse {
              width: 100%;
              border-radius: 12px;
              position: relative;
              filter: blur(2px);
              opacity: 70%;
            }

            .lockImg {
              position: absolute;
              z-index: 1;
              width: 80%;
              top: 25%;
              left: 10%;
              border-radius: 12px;
            }
          }

          .javId {
            display: block;
            padding: 0 0.3rem 0 0.3rem;
            position: absolute;
            text-align: center;
            top: 0%;
            right: 10%;
            margin-top: 0%;
            width: auto;
            min-width: 16%;
            color: #ffffff;
            background-color: #ffc42e;
            border-radius: 0 0 6px 6px;
            z-index: 2;
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .JAVS {
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(12, 1fr);
      position: relative;
      // justify-items: start;
      grid-gap: 2%;
      width: auto;
      height: 100%;
      margin-top: 3%;
      margin-bottom: 180%;

      .collCard {
        position: relative;
        max-width: 181px;
        &:hover {
          transform: scale(1.1);
          transition: 0.2s;
          cursor: pointer;
        }

        .skeletonContainer {
          width: 100%;
          height: 40vw;

          $base-color: #ddd;
          $shine-color: #e8e8e8;
          $animation-duration: 2s;
          $skeleton-offset: 52 + 16;

          .skeleton {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #ccc;
            // border: 4px solid #7eff2e;
            border-radius: 12px;

            background-image: linear-gradient(
              90deg,
              $base-color 0px,
              $shine-color 40px,
              $base-color 80px
            );
            background-size: 600px;
            animation: shine-skeleton $animation-duration infinite linear;
          }

          @keyframes shine-skeleton {
            0% {
              background-position: -100px + $skeleton-offset;
            }
            40%,
            100% {
              background-position: 140px + $skeleton-offset;
            }
          }
        }

        .loadJAV {
          display: none;
        }

        .JAVContainer {
          position: relative;
          width: 100%;
          // height: 8.5rem;

          .JAVImg {
            width: 100%;
            max-width: 181px;
            border-radius: 12px;
            position: relative;
            // filter: blur(2px);
            // opacity: 80%;
          }

          .FD {
            border: 4px solid #7eff2e;
            border-radius: 12px;
          }

          .lockCard {
            position: relative;

            .JAVImgFalse {
              width: 100%;
              border-radius: 12px;
              position: relative;
              filter: blur(2px);
              opacity: 70%;
            }

            .lockImg {
              position: absolute;
              z-index: 1;
              width: 80%;
              top: 25%;
              left: 10%;
              border-radius: 12px;
            }
          }

          .javId {
            display: block;
            padding: 0 0.3rem 0 0.3rem;
            position: absolute;
            text-align: center;
            top: 0%;
            right: 10%;
            margin-top: 0%;
            width: auto;
            min-width: 16%;
            color: #ffffff;
            background-color: #ffc42e;
            border-radius: 0 0 6px 6px;
            z-index: 2;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
