.CollBody {
  width: 75%;
  margin: 2% 12.5% 3% 12.5%;
  
  .JAVS {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 6%;

    .collCard {
      position: relative;
      &:hover {
        transform: scale(1.1);
        transition: 0.2s;
        cursor: pointer;
      }

      .JAVImg {
        width: 100%;
        border-radius: 12px;
        position: relative;
        // filter: blur(2px);
        // opacity: 80%;
      }
      
      .lockCard {
        position: relative;
        
        .JAVImgFalse {
          width: 100%;
          border-radius: 12px;
          position: relative;
          filter: blur(2px);
          opacity: 70%;
        }
        
        .lockImg {
          position: absolute;
          z-index: 1;
          width: 80%;
          top: 25%;
          left: 10%;
          border-radius: 12px;
        }
      }


      .javId {
        display: block;
        padding: 0 0.3rem 0 0.3rem;
        position: absolute;
        text-align: center;
        top: -7.5%;
        right: 10%;
        width: auto;
        min-width: 16%;
        color: #FFFFFF;
        background-color: #FFC42E;
        border-radius: 0 0 6px 6px;
        z-index: 2;
        font-size: 1rem;
      }
    }
  }
}
