.javs {
  overflow: hidden;
  width: 100%;
  height: 100%;
  aspect-ratio: 7 / 9;
  border-radius: 2%;
  z-index: 5;

  img {
    aspect-ratio: 7 / 9;
    transition: all 0.5s;
    width: 100%;
    cursor: pointer;

    &:hover {
      // border-radius: 100%;
      transform: scale(1.1);
    }

  }
  &:hover .sale {
    transition: all 0.5s;
    height: 15%;
    bottom: 15%;
  }

  &:not(:hover) .sale {
    transition: all 0.5s;
  }


  .sale {
    display: flex;
    position: relative;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    background: #FFC42E;
    height: 70px;
    cursor: pointer;
    z-index: 10;
  }
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sortContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  margin: 0 0 1.5rem 0;

  .countColor {
    font-weight: 700;
    color: #8e8e8e;
  }
}

.noItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: rgb(177, 177, 177);
  height: 25rem;
}
